:root {
    --veryDarkBlueColor: hsl(243, 87%, 12%);
    --DesaturatedBlueColor: hsl(238, 22%, 44%);
    --BrightBlueColor: hsl(224, 93%, 58%);
    --ModerateCyanColor: hsl(170, 45%, 43%);
    --LightGrayishBlueColor: hsl(240, 75%, 98%);
    --LightGrayColor: hsl(0, 0%, 75%);
}

.first-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    /* padding-top: 30px; */
    height: 120px;
    font-family: "open sans";
    color: var(--DesaturatedBlueColor);
    font-weight: bold;
}

.first-head-logo {
    width: 70%;
}

.first-head-one,
.first-head-two,
.first-head-three {
    width: 10%;
}

.second-head {
    display: flex;
}

.second-head-container,
.second-head-img {
    width: 48%;
    display: flex;
    align-items: center;
}

.second-head-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.second-head img {
    width: 100%;
    height: 100%;
}

.second-head h1 {
    color: var(--veryDarkBlueColor);
    margin-left: 40px;
    font-family: "Raleway";
}

.second-head p {
    color: var(--DesaturatedBlueColor);
    margin-left: 40px;
    font-family: "open sans";
    font-weight: bold;
}

.second-head-input {
    margin-left: 40px;
}

.email-input {
    width: 260px;
    height: 30px;
    padding-left: 20px;
}

.submit-input {
    width: 160px;
    height: 35px;
    background-color: var(--BrightBlueColor);
    color: var(--LightGrayishBlueColor);
    font-family: "open sans";
    font-weight: bold;
    border: none;
    border-radius: 2px;
    transform: translate(10PX, 1px);
    cursor: pointer;
}

.submit-input:hover {
    box-shadow: 0 0 20px 18px inset #ffffff29;
}

.section-one {
    margin-top: 150px;
}

.section-one>img {
    width: 100%;
    marg
}

.section-two {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--LightGrayishBlueColor);
    margin-top: -5px
}

.section-two-img {
    width: 45%;
}

.section-two-img img {
    width: 100%;
}

.section-two-container {
    width: 55%;
}

.section-two-container h1 {
    color: var(--veryDarkBlueColor);
    font-family: "Raleway";
    font-size: 30px;
    padding-left: 40px;
}

.section-two-container>p,
.paragraph-two {
    color: var(--DesaturatedBlueColor);
    font-family: "open sans";
    padding-left: 40px;
    font-weight: bold;
    font-size: 16px;
}

.green-text {
    color: var(--ModerateCyanColor);
    padding-left: 40px;
    position: relative;
}

.green-text::after {
    content: "";
    position: absolute;
    width: 150px;
    bottom: -5px;
    left: 40px;
    border-bottom: 1px solid var(--ModerateCyanColor);
}

.green-text img {
    transform: translate(0px, 4px);
}

.quote-box {
    width: 38%;
    height: 150px;
    background-color: #ffff;
    box-shadow: 0 0 8px 0px #00000047;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 3px;
    padding: 25px 25px;
    margin-bottom: 100px;

}

.quote-box p {
    color: var(--DesaturatedBlueColor);
    font-family: "open sans";
    font-size: 12px;
}

.photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    transform: translate(0px, 5px);

}

.photo img {
    width: 35px;
    height: 35px;
}

.name-job {
    display: inline-block;
}

.name {
    color: var(--veryDarkBlueColor);
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 700;
}

.job {
    color: var(--DesaturatedBlueColor);
    font-family: "open sans";
    font-size: 8px;
    font-weight: bold;
}

.section-three {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #575989;
    width: 100%;
    height: 220px;
}

.section-three-container {
    width: 50%;
}

.section-three-container h1 {
    color: white;
    font-family: "Raleway";
    font-weight: bold;
    padding-left: 80px;
}

.section-three-container p {
    color: white;
    font-family: "open sans";
    font-size: 12px;
    padding-left: 80px;
}

.section-three-input {
    width: 50%;
}

#submit {
    width: 160px;
    height: 35px;
    background-color: var(--BrightBlueColor);
    color: var(--LightGrayishBlueColor);
    font-family: "open sans";
    font-weight: bold;
    border: none;
    border-radius: 2px;
    /* transform: translate(10PX, 1px); */
    cursor: pointer;
    display: block;
}

#submit:hover {
    box-shadow: 0 0 20px 18px inset #ffffff29;
}

#email {
    width: 260px;
    height: 30px;
    padding-left: 20px;
    margin-bottom: 15px;
}


footer {
    background-color: var(--veryDarkBlueColor);
    width: 100%;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    position: relative;
    z-index: -2;
}

.side-one {
    /* width: 40%; */
    height: 500px;
    background-color: var(--veryDarkBlueColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.side-one-im img {
    margin: 35px 0px 0px 0px;
}

.side-one p {
    display: inline-block;
    font-family: "open sans";
    color: #ffff;
    ;
    font-size: 14px;

}

.side-logo {
    filter: brightness(0) invert(1);
    width: 150px;
    height: 37px;
}

.side-loca {
    width: 11px;
    height: 16px;
    margin-bottom: 20px;
}

.loca-container p {
    transform: translate(15px, 14px);
}

.side-phon {
    width: 16px;
    height: 16px;
}

.side-emai {
    width: 18px;
    height: 16px;
}

.phon-container p,
.emai-container p {
    transform: translate(13px, -3px);
}

.marg-div {
    margin: 10px 30px;
}

.side-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "open sans";
    font-size: 15px;
    color: #ffff;
    ;
}

.first-half div,
.second-half div {
    margin: 10px 10px 0px 0px
}

.side-three {
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook,
.twitter,
.insta {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ffff;
    ;
    margin: 0px 6px;
}

.facebook img {
    width: 27px;
    height: 27px;
    filter: brightness(0) invert(1);
    transform: translate(-2px, -2px);
}

.twitter img {
    width: 14px;
    height: 14px;
    filter: brightness(0) invert(1);
    transform: translate(6px, 6px);
}

.insta img {
    width: 15px;
    height: 15px;
    filter: brightness(0) invert(1);
    transform: translate(5px, 5px);
}

.copyrights {
    color: #ffff;
    font-family: "open sans";
    font-size: 12px;
    position: absolute;
    bottom: 50px;
    right: 50px;
}